{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="/js/cars.js"></script>
{% endblock %}

{% block body %}
    <h1>Llistat de cotxes que es diuen Fiesta</h1>

    {% for car in cars %}
        <p class="car-name" {% if car.name == "Toyota" %}id="important"{% endif %}>{{ car.name }}</p>
    {% endfor %}
{% endblock %}
